<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class='main-content'>
        {{>header}}
        <p> This application has been created by Mohit Tulsani. It makes use of third party APIs like <span
                class="url">mapbox.com</span> and
            <span class="url">weatherstack.com</span> to fetch weather data for a particular location.
        </p>
    </div>

    {{>footer}}

</body>

</html>