<!DOCTYPE html>
<html>

<head>
    <title>Error:404</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Error Message: {{message}}</p>
    </div>

    {{>footer}}
</body>

</html>